<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>My Security Clever - User Authentification</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="A premium admin dashboard template by Mannatthemes" name="description"/>
		<meta
		content="Mannatthemes" name="author"/>

		<!-- App favicon -->
		<link rel="icon" type="image/ico" href="/images/logoCLETech.ico">

		{#
		<!-- App css -->
		<link href="/css/icons.css" rel="stylesheet" type="text/css"/>
		<link href="/css/metisMenu.min.css" rel="stylesheet" type="text/css"/>
		<link href="/css/style.css" rel="stylesheet" type="text/css"/>
		#}

		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<!-- Bootstrap core CSS with custom theme variables -->
		<link href="/css/bootstrap-custom.css" rel="stylesheet">

		<!-- Font Awesome -->
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

		<!-- Additional styles for this template -->
		<link href="/css/iot-theme.css" rel="stylesheet">

	</head>
	{#
	<body
		class="account-body accountbg">

		<!-- Log In page -->
		<div class="row vh-100 ">
			<div class="col-12 align-self-center">
				<div class="auth-page">
					<div class="card auth-card shadow-lg">
						<div class="card-body">
							<div class="px-3">
								<div class="auth-logo-box">
									<a href="#" class="logo logo-admin"><img src="/images/logo-sm.png" height="55" alt="logo" class="auth-logo"></a>
								</div>
								<!--end auth-logo-box-->
								{% if hasError %}
									<div class="alert alert-danger mt-4">Une erreur est survenue, le nom d'utilisateur ou alors le mot de passe est invalide</div>
								{% endif %}
								<div class="text-center auth-logo-text">
									<h4 class="mt-0 mb-3 mt-5">LOGIN</h4>
									<p class="text-muted mb-0">Connect to your security surveillance station</p>
								</div>
								<!--end auth-logo-text-->


								<form class="form-horizontal auth-form my-4" action="{{ path("account_login") }}" method="POST">

									<div class="form-group">
										<label for="username">Username</label>
										<div class="input-group mb-3">
											<span class="auth-form-icon">
												<i class="dripicons-user"></i>
											</span>
											<input type="text" class="form-control" name="_username" id="username" placeholder="Enter user Email" value="{{username}}">
										</div>
									</div>
									<!--end form-group-->

									<div class="form-group">
										<label for="userpassword">Password</label>
										<div class="input-group mb-3">
											<span class="auth-form-icon">
												<i class="dripicons-lock"></i>
											</span>
											<input type="password" class="form-control" name="_password" id="userpassword" placeholder="Enter password">
										</div>
									</div>
									<!--end form-group-->

									<div class="form-group row mt-4">
										<div class="col-sm-6">
											<div class="custom-control custom-switch switch-success">
												<input type="checkbox" class="custom-control-input" id="customSwitchSuccess">
												<label class="custom-control-label text-muted" for="customSwitchSuccess">Remember me</label>
											</div>
										</div>
										<!--end col-->
										<div class="col-sm-6 text-right">
											<a href="auth-recover-pw.html" class="text-muted font-13">
												<i class="dripicons-lock"></i>
												Forgot password?</a>
										</div>
										<!--end col-->
									</div>
									<!--end form-group-->

									<div class="form-group mb-0 row">
										<div class="col-12 mt-2">
											<button class="btn btn-gradient-primary btn-round btn-block waves-effect waves-light" type="submit">Log In
												<i class="fas fa-sign-in-alt ml-1"></i>
											</button>
										</div>
										<!--end col-->
									</div>
									<!--end form-group-->
								</form>
								<!--end form-->
							</div>
							<!--end /div-->
						</div>
						<!--end card-body-->
					</div>
					<!--end card-->
				</div>
				<!--end auth-page-->
			</div>
			<!--end col-->
		</div>
		<!--end row-->

		<!-- End Log In page -->


		<!-- jQuery  -->
		<script src="/js/jquery.min.js"> </script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/metisMenu.min.js"></script>
		<script src="/js/waves.min.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>

		<!-- App js -->
		<script src="/js/app.js"></script>

	</body>
	#}

	<body class="pt-0">
		<div id="login" class="d-flex align-items-center pb-4">
			<div class="row mx-auto" style="width:100%;max-width:30rem;">
				<div class="col-12 mb-2 text-center">
					{#<img src="assets/images/symbiot4.svg" width="140" height="20" alt="SYMBIOT 4" class="mx-auto">
					#}
					<img src="/images/logoCLETech.svg" width="400" height="150" alt="CLETECH" class="mx-auto">
				</div>
				
				<div class="col-12">
					<!-- Login form START -->
					<div class="card px-4 pt-2">
					{% if hasError %}
						{#<div class="alert alert-danger">An error has occurred, the username or password is invalid</div>#}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true"><i class="mdi mdi-close"></i></span>
							</button>
							<strong>An error has occurred, the username or password is invalid</strong> Change a few things up and try submitting again.
						</div>
					{% endif %} 
					<form action="{{ path("account_login") }}" class="p-2" method="POST">
						<div class="form-group row">
							<label for="user-name" class="col-12 col-form-label">Username</label>
							<div class="col-12">
								<input class="form-control custom-focus" type="text" placeholder="Enter user Email" value="{{username}}" name="_username" id="user-name">
							</div>
						</div>
						<div class="form-group row">
							<label for="user-password" class="col-12 col-form-label">Password</label>
							<div class="col-12">
								<input class="form-control custom-focus" type="password" name="_password" id="password-field">
							</div>
						</div>
						<div class="form-group row mt-4">
							<div class="col-sm-12 col-lg-6 col-md-6 col-xs-12">
								<span toggle="#password-field" class="fa fa-fw fa-eye-slash toggle-password mr-2"></span><span id="showPwd">Show</span> password
							</div>
							<!--end col-->
							<div class="col-sm-12 col-lg-6 col-md-6 col-xs-12 text-right">
								<a href="auth-recover-pw.html" class="text-muted font-13">
									<i class="dripicons-lock"></i>
									Forgot password?
								</a>
							</div>
							<!--end col-->
						</div>
						<!--end form-group-->
						<div class="form-group row">
							<div class="col-12 mt-3 mb-2 text-center">
								<button type="submit" class="btn btn-primary btn-block" id="LogInBtn">
									<span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span>
                                    Log In <i class="fas fa-sign-in-alt ml-1"></i>
								</button>
							</div>
						</div>

					</form>
					</div>
					<!-- Login form END -->
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!-- jQuery -->
		{#
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		#}
		<script src="/js/jquery.min.js"></script>	
		<script src="/js/jquery.slimscroll.min.js"></script>
		<!-- Bootstrap bundle -->
		<script src="/js/bootstrap.bundle.min.js"></script>

		<script>
            $(".toggle-password").click(function() {

                $(this).toggleClass("fa-eye-slash fa-eye");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                    $('#showPwd').html('Hide');
                } else {
                    input.attr("type", "password");
                    $('#showPwd').html('Show');
                }
            });

            
            $('#LogInBtn').click(function(){
                //block of code that runs when the click event triggers
                $(this).children('i').addClass('d-none');
                $(this).children('span').removeClass('d-none');
                //$('#LogInBtn').prop('disabled', true);
            });
        </script>

	</body>


</html>
