{% extends 'base.html.twig' %}

{% block title %}Hello MotionSensorController!{% endblock %}

{% block body %}
    <div id="main">
          <div class="container-fluid">
            <div class="row">
              <!-- Appliances  START -->
              <div class="col-sm-12 col-md-6">
                <!-- Washing machine  START -->
                <div class="card active" data-unit="wash-machine">
                  <ul class="list-group borderless">
                    <li class="list-group-item align-items-center">
                      <svg class="icon-sprite icon-1x">
                        <use class="glow" fill="url(#radial-glow)" xlink:href="/images/icons-sprite.svg#glow"/>
                        <use xlink:href="/images/icons-sprite.svg#wash-machine"/>
                      </svg>
                      <h5>Washing machine</h5>
                      <p class="ml-auto status">ON</p>
                    </li>
                  </ul>
                  <div class="only-if-active">
                    <hr class="my-0">
                    <ul class="list-group borderless px-1">
                      <li class="list-group-item pb-0">
                        <p class="specs">Program</p>
                        <p class="ml-auto mb-0 text-primary">Cotton Quick</p>
                      </li>
                      <li class="list-group-item pb-0">
                        <p class="specs">Weight</p>
                        <p class="ml-auto mb-0 text-primary">10.5 lb <small class="text-muted">(4.76 kg)</small></p>
                      </li>
                      <li class="list-group-item">
                        <p class="specs">Remaining time</p>
                        <p id="wash-machine" class="ml-auto mb-0"></p>
                      </li>
                      <li class="list-group-item pb-4 timer-controls" data-controls="wash-machine">
                        <button data-action="pause" type="button" class="btn btn-secondary btn-block wash-control">Pause</button>
                        <button data-action="resume" type="button" class="btn btn-primary btn-block mt-0 wash-control">Resume</button>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Washing machine  END -->
              </div>
              <div class="col-sm-12 col-md-6">
                <!-- Fridge  START -->
                <div class="card active" data-unit="home-fridge">
                  <ul class="list-group borderless">
                    <li class="list-group-item align-items-center">
                      <svg class="icon-sprite icon-1x">
                        <use class="glow" fill="url(#radial-glow)" xlink:href="/images/icons-sprite.svg#glow"/>
                        <use xlink:href="/images/icons-sprite.svg#home-fridge"/>
                      </svg>
                      <h5>Fridge</h5>
                      <p class="ml-auto status">ON</p>
                    </li>
                  </ul>
                  <hr class="my-0">
                  <div class="d-flex justify-content-between" data-rangeslider="fridge-temp">
                    <ul class="list-group borderless px-1 align-items-stretch">
                      <li class="list-group-item">
                        <p class="specs mr-auto mb-auto">Temperature</p>
                      </li>
                      <li class="list-group-item d-flex flex-column pb-4">
                        <p class="mr-auto mt-2 mb-0 display-5">
                          <span id="fridge-temp-F">35</span><sup>°F</sup>
                        </p>
                        <p class="mr-auto mt-2 mb-0 lead text-primary">
                          <span id="fridge-temp-C">1.67</span><sup>°C</sup>
                        </p>
                      </li>
                    </ul>
                    <div class="p-4" style="position:relative;">
                      <input id="fridge-temp" type="range" min="33.8" max="39.2" step="0.1" value="35" data-orientation="vertical">
                      <div class="info-holder info-lc">
                        <div data-toggle="popover-all" data-content="jQuery range slider using localStorage to remember the last status." data-original-title="Temperature control" data-placement="left" data-offset="0 -12px"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Fridge  END -->
              </div>
              <div class="col-sm-12 col-md-6">
                <!-- TV1  START -->
                <div class="card active" data-unit="tv-lcd-1">
                  <ul class="list-group borderless">
                    <li class="list-group-item align-items-center">
                      <svg class="icon-sprite icon-1x">
                        <use class="glow" fill="url(#radial-glow)" xlink:href="/images/icons-sprite.svg#glow"/>
                        <use xlink:href="/images/icons-sprite.svg#tv-lcd"/>
                      </svg>
                      <h5>TV</h5>
                      <p class="ml-auto status">ON</p>
                    </li>
                  </ul>
                  <hr class="my-0">
                  <ul class="list-group borderless px-1">
                    <li class="list-group-item pb-0">
                      <p class="specs">Channel</p>
                      <p class="ml-auto mb-0 text-primary">Kids TV24</p>
                    </li>
                    <li class="list-group-item pb-4">
                      <p class="specs">Recording</p>
                      <p class="ml-auto mb-0 text-primary text-off">OFF</p>
                    </li>
                  </ul>
                </div>
                <!-- TV1  END -->
              </div>
              <div class="col-sm-12 col-md-6">
                <!-- TV2  START -->
                <div class="card active" data-unit="tv-lcd-2">
                  <!-- TV2 switch START -->
                  <ul class="list-group borderless">
                    <li class="list-group-item align-items-center">
                      <svg class="icon-sprite icon-1x">
                        <use class="glow" fill="url(#radial-glow)" xlink:href="/images/icons-sprite.svg#glow"/>
                        <use xlink:href="/images/icons-sprite.svg#tv-lcd"/>
                      </svg>
                      <h5>TV</h5>
                      <label class="switch ml-auto checked">
                        <input type="checkbox" id="tv-lcd-2" checked>
                      </label>
                    </li>
                  </ul>
                  <!-- TV2 switch END -->
                  <div class="only-if-active">
                    <hr class="my-0">
                    <ul class="list-group borderless px-1">
                      <li class="list-group-item pb-0">
                        <p class="specs">Channel</p>
                        <p class="ml-auto mb-0 text-primary">Kids TV24</p>
                      </li>
                      <li class="list-group-item pb-0">
                        <p class="specs">Recording</p>
                        <div class="btn-group btn-group-toggle ml-auto py-1" data-toggle="buttons">
                          <label class="btn btn-label btn-sm mb-0">
                            <input type="radio" name="options" id="c1-nv-on" autocomplete="off"> ON
                          </label>
                          <label class="btn btn-label btn-sm mb-0 active">
                            <input type="radio" name="options" id="c1-nv-off" autocomplete="off" checked> OFF
                          </label>
                        </div>
                      </li>
                    </ul>
                    <!-- Volume control - range slider START -->
                    <ul class="list-group borderless px-1" data-rangeslider="tv-volume-1">
                      <li class="list-group-item">
                        <p class="specs">Volume</p>
                        <p class="ml-auto mb-0"><span class="range-output">45</span>%</p>
                      </li>
                      <li class="list-group-item pt-0 pb-4">
                        <input id="tv-volume-1" class="volume" type="range" min="0" max="100" value="45">
                      </li>
                    </ul>
                    <!-- Volume control - range slider END -->
                  </div>
                </div>
                <!-- TV2  END -->
              </div>
              <!-- Appliances  END -->
            </div>
          </div>
          <!-- Main content overlay when side menu appears  -->
          <div class="cover-offcanvas" data-toggle="offcanvas"></div>
        </div>
{% endblock %}
